body{
    background-color: #F5CD00;
}
img{
    height: 60%;
    width: 40%;
    border-radius: 70px;
    position: absolute;
    right: 110px;
    display: block;
    top: -90px;
    left: 430px;
}
.login{
    text-align: center;
    font-size: 25px;
    margin: 15px 0;
}
form{
    margin: 0 auto;
    height:430px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    border: solid 2px black;
    position: absolute;
    top: 200px;
    right:35%;

}
form label{
    font-size: 22px;
    margin: 0 75px;
    display: block;
   
}
form input{
    margin: 5px 75px;
    height: 22px;
    width: 55%;
    border: solid 2px #bbbbbb;
    border-radius: 5px;
}
form p{
    text-align: center;
}
.enviar{
    height: 30px;
    width: 40%;
    background-color: greenyellow;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    border-color: greenyellow;

    
}