body{
    background-color: #F5CD00;
}
img{
    width: 30%;
    border-radius: 70px;
}
.login{
    text-align: center;
    font-size: 25px;
}
form{
    margin: 0 auto;
    padding-left: 30px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 200px;

}
form label{
    font-size: 22px;
    margin: 0 15px;
    display: block;
   
}
form input{
    margin: 5px 15px;
    height: 22px;
    width: 55%;
}
form p{
    text-align: center;
}
.enviar{
    height: 15px;
    width: 30%;
    background-color: greenyellow;
}